<div id= "welcome">

<h1>Blog on Derails</h1>

<img src= "http://i.imgur.com/HIopiXx.jpg" >

  <h1> <%= link_to "My Blog", controller: "posts" %> </h1>
  <h1> <%= link_to 'New post', new_post_path %> </h1>


</div>